body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: red; /* Exide blue */
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background-color: black; /* Exide yellow */
    border-radius: 5px;
}
/*  */
.contact-info p {
    margin: 8px 0;
    font-size: 16px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    background-color: #0078D7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #005bb5;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.contact-info, .map-container, .contact-form {
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*  */
footer {
    background-color: red;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  /* footer section */
  footer section {
    flex: 1;
    margin: 0 20px;
  }
  /* footer h3 */
  footer h3 {
    margin-top: 0;
  }
  /* footer a */
  footer a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  /*  */
  .skills{
    color: pink;
  }