body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: red; /* Exide blue */
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background-color: black; /* Exide yellow */
    border-radius: 5px;
}
/* footer */
footer {
    background-color: red;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  /* footer section */
  footer section {
    flex: 1;
    margin: 0 20px;
  }
  /* footer h3 */
  footer h3 {
    margin-top: 0;
  }
  /* footer a */
  footer a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  /*  */
  .skills{
    color: pink;
  }