body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: red; /* Exide blue */
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background-color: black; /* Exide yellow */
    border-radius: 5px;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 4rem 2rem;
  }
  /* hero-content */
  .hero-content {
    flex: 1;
    text-align: center;
  }
  /* hero h1 */
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  /* cta-buttons .btn */
  .cta-buttons .btn {
    display: inline-block;
    background-color: #ff6b6b;
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    margin: 0 0.5rem;
  }
  /* hero-image */
  .hero-image {
    flex: 1;
    text-align: center;
  }
  /* hero-image img */
  .hero-image img {
    max-width: 100%;
    height: auto;
  }